/* src/styles/App.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --grey: #2d2d2d;
  --white: #fff8f0;
  --green: #31b404;
  --blue: #06aed5;
  --red: #dd1c1a;
  /* Define more colors as needed */
}

* {
  background-color: var(--grey);
  color: var(--white);
}

.container {
  width: 80%;
}

.button-wrapper {
 
  width: 100%;
  justify-content: space-around;
}

.option-button {
  border-radius: 5em;
  padding: 0.2em 1em 0.2em 1em;
  margin: 0em 1em;
  color: var(--white);
  font-weight: bolder;
  letter-spacing: .1em;
  font-size: larger;
  background-color: var(--grey);
  cursor: pointer /* Set your default color here */
}

.correct {
  background-color: var(--green);
}

.incorrect {
  background-color: var(--red);
}

